*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}
main{
    height: 100%;
  width: 100%;
  background-color: rgb(219, 239, 221);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
   
}
.card p span{
    font-weight: 600;
  color: royalblue;
}
.card{
   
     width: 450px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 1px 1px 1px 1px #7f7a7a;
}

.outer{
     height: 20px;
  border-radius: 50px;
  width: 100%;
  background-color: rgb(184, 184, 184);
}
.inner{
width: 0%;
height: 100%;
background-color: green;
border-radius: 50px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.bottom h2{
  font-size: 55px;
  font-family: monospace;
  font-weight: 100;
}
.bottom button{
    padding: 12px 25px;
  background-color: green;
  color: white;
  border-radius: 5px;
  font-size: 18px;

  font-weight: 600;
  border: 0;
  cursor: pointer;

}

.bottom button:active{
  scale: 0.95;}