* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: aliceblue;
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #121212;
}

// ✅ Mixin definition
@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  @include flex-column(0rem);
  align-items: center;

  section.view1 {
    width: 100%;
    @include flex-column(1rem);
    padding: 0.5rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      padding: 1.5rem;
      border-radius: 10px;
      @include flex-column(3rem);

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 400;
          font-size: 4rem;
          text-transform: uppercase;
        }

        p {
          color: #908c8c;
          font-size: 1.5rem;
          font-weight: 100;
          line-height: 1.5;
        }
      }

      button {

        width: fit-content;
        border: none;
        background-color: transparent;
        color: aliceblue;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 0.3rem;

              .arrow{

                i{
                 width:fit-content;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, .1);
                padding: 0.8rem;
                font-size: 1.2rem;
                font-weight: 100;
                            background-color: rgba(255, 255, 255, .05);

                backdrop-filter: blur(2rem);
                }
              }
     

      }

    }
  }

  section.view2 {
    @include flex-column(1rem);
    width: 100%;
    padding: 0.5rem;

    .top,
    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .element {
        text-align: center;
        @include flex-column(0.5rem);

        small {
          opacity: 0.5;
        }

        h1 {
          font-size: 2.5rem;
          font-weight: 400;
        }
      }
    }
  }

  section.view3{
    width: 100%;
    padding: 0.5rem;
    @include flex-column(1rem);

        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }
        .bottom {
      background-color: #1e1e1e;
      padding: 1.5rem;
      border-radius: 10px;
      @include flex-column(3rem);

          P{
            font-size: 1.2rem;
          }

      .text {
        @include flex-column(0.7rem);

        h2 {
          font-weight: 350;
          font-size: 3.2rem;
          text-transform: uppercase;
        }

        p {
          color: #908c8c;
          font-size: 1.5rem;
          font-weight: 200;
          line-height: 1.5;
        }
      }

      button {
        width: fit-content;
        border: none;
        padding: 0.5rem;
        border-radius: 0.3rem;
      }
    }
        .bottom>p{
          text-transform: uppercase;
        }
  }

  section.view4{
    width: 100%;
    padding: 0.5rem;
    @include flex-column(1rem);

        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }
        .bottom {
      background-color: #1e1e1e;
      padding: 1.5rem;
      border-radius: 10px;
      @include flex-column(3rem);

          P{
            font-size: 1.2rem;
          }

      .text {
        @include flex-column(0.7rem);

        h2 {
          font-weight: 350;
          font-size: 3.2rem;
          text-transform: uppercase;
        }

        p {
          color: #908c8c;
          font-size: 1.5rem;
          font-weight: 200;
          line-height: 1.5;
        }
      }

      button {
        width: fit-content;
        border: none;
        padding: 0.5rem;
        border-radius: 0.3rem;
      }
    }
        .bottom>p{
          text-transform: uppercase;
        }
  }

  section.view5{
     display: flex;
   width: 100%;
   gap: 2rem;
   padding: 0.5rem;

   .card{
    width: 100%;
    background-image: url(./card1.webp);
    aspect-ratio: 1/1;
    background-size: cover;

    @include flex-column(0rem);
    justify-content: space-between; 
    padding: 1rem;

       .icon,
       .bottom{
            background-color: rgba(255, 255, 255, .05);
            backdrop-filter:blur(2rem);
                border: 1px solid rgba(255, 255, 255, .1);
                padding: 0.5rem;
       }
       .icon{
        width:fit-content;
        border-radius: 50%;
       }

       .top{
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
       }
       .bottom{
        display: flex;
        justify-content: space-between;
       padding: 2rem 1rem;
       }
   }
  }
  }


// ✅ Responsive
@media (min-width: 900px) {
  main {
    padding: 1rem 2rem;

    section.view1 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;
      }

      .text {
        gap: 1.5rem;

        h1 {
          font-size: 3.5rem;
        }

        p {
          font-size: 2rem;
          width: 70%;
        }
      }
    }

    section.view2{
        flex-direction: row;
    }
    
    section.view3{
      flex-direction: row-reverse;

        .top,.bottom{
          width: 50%;
        }
        .bottom{
          justify-content: space-between;
          padding: 4rem;

           .paragraphs{
            display: flex;
            gap: 2.5rem;

              p{
                font-size: 1.2rem;
                font-weight: 400;
              }
              
           }
        }
    }

    section.view4{
      flex-direction: row;
      .top,.bottom{
        width: 100%;
      }
      .bottom{
        justify-content: space-between;
        padding: 4rem;

         .paragraphs{
        display: flex;
        gap: 2.5rem;

        p{
          font-size: 1.2rem;
                font-weight: 400;
        }
      }
      }
     
    }
    
  }
}
